:root {
    --dark-base-background: #222;
    --dark-base-color: #bbc0c4;
    --dark-theme-color: #42b983;
    --dark-heading-color: var(--dark-theme-color);
    --dark-cover-background: #000000a8;
    --dark-code-color: rgba(213, 213, 213, 0.68);
    --dark-code-background: rgba(42, 41, 41, 0.47);
    --dark-tip-background: #2c0000;
    --dark-warn-background: #005842;
    --dark-icon-size: 25px;
    --dark-icon-transition: .1s ease-in-out .1s;
    --dark-moon-color: #000000;
    --dark-sun-color: #ffffff;
}

/* Ajuste de la posición del botón de cambio de modo oscuro para evitar superposición con estadísticas */
button[onclick="docsifyDarkSwitcher()"] {
    position: fixed;
    left: 10px;
}

/* Ajuste del botón del menú lateral para evitar conflicto visual con el modo oscuro */
.docsify-dark-mode .sidebar-toggle span {
    background-color: #80eddd !important;
}
.docsify-dark-mode .sidebar-toggle {
    background: transparent !important;
}

/* Ajuste de brillo para imágenes con zoom en modo oscuro */
.docsify-dark-mode .medium-zoom-image {
    filter: brightness(0.8);
}

/* Adaptación de la barra de búsqueda al modo oscuro */
.docsify-dark-mode .search a {
    color: rgba(255, 255, 255, 0.65);
}

.docsify-dark-mode .search a:hover {
    color: #ffffff !important;
}

.docsify-dark-mode .search .search-keyword {
    color: rgba(70, 185, 66, 0.55);
}

.docsify-dark-mode .search a:hover + .search-keyword {
    color: rgba(99, 246, 111, 0.78);
}
